<h1>Homepage</h1>

<p>Welcome to SeatYourself!</p>

<button><%= link_to "View All Restaurants", restaurants_path  %></button>

<button><%= link_to "View My Reservations", reservations_path %></button>

